# Node dependencies
node_modules/

# Serverless build artifacts
.serverless/
.sls-next/

# Local environment variables
.env
.env.local
.env.development
.env.staging
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage and test reports
coverage/
*.lcov

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# VSCode settings
.vscode/
.history/

# IDE/Editor-specific
.idea/
*.swp
*.swo

# Mac system files
.AppleDouble
.LSOverride

# Optional: If using Jest
jest-html-reporters-*

# Optional: If using TypeScript
dist/
*.tsbuildinfo

# Optional: if you run temporary zip packaging
*.zip

# AWS credentials (if mistakenly stored)
.aws/

# Optional backups
*.bak
*.tmp

# lock files (exclude both npm and pnpm lock files)
package-lock.json
pnpm-lock.yaml
yarn.lock

# wiston logs
logs/

# local nodejs server
local/